body{
    background-color: #01161E;
    color: #eff6e0;
}

.wrapper{
    max-width: 700px;
    width: 90%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

#empName-hours{
    width: 300px;
    height: 100px;
    resize: vertical;
}

label{
    margin: 20px;
    margin-top: 20px;
    padding: 20px;
}

input{
    margin: 20px;
    margin-top: 20px;
    padding: 20px;
}