/*
*{
    border: 1px solid red;
    
}
*/

body{
    background-color: #01161E;
    color: #eff6e0;
}

.wrapper{
    max-width: 700px;
    width: 90%;
    
}

#empName-hours{
    width: 600px;
    height: 300px;
    resize: vertical;
}

label{
    display: block;
    margin-top: 5px;
    padding: 0;
}

textarea{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 1px;
}

input{
    display: block;
    margin-top: 10px;
    padding: 5px;
}

button{
    margin-top: 10px;
    padding: 5px;
}