<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EOD Tip Calculator</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>End Of Day Tip Distribution Calculator</h1>
    <h2>This is a tool I wish I had back in the day to knock out tip splits at the end of the night!</h2>
    <div class="wrapper">
        <form action="/" method="POST">
            <label for="empName-hours">Employees and Hours</label>
            <textarea id="empName-hours" name="employees" placeholder="Enter employees name and hours seperated by a comma here. (ex. 'Joben, 12')"></textarea>
            <label for="total_tips">Total Tips Collected $</label>
            <input type="number" id="total_tips" name="total_tips">
            <button type="submit">Calculate Tip Out</button>
        </form>
    </div>
    <div class="wrapper">
        {{ payouts }}
    </div>
</body>
</html>